/* FONTS */
@font-face {
  font-family: "National Bold";
  src: url("fonts/national-web-bold.ttf");
}

@font-face {
  font-family: "National Regular";
  src: url("fonts/national-web-regular.ttf");
}

@font-face {
  font-family: "Recoleta Bold";
  src: url("fonts/Recoleta-Bold.ttf");
}

@font-face {
  font-family: "Recoleta Medium";
  src: url("fonts/Recoleta-Medium.ttf");
}

@font-face {
  font-family: "Recoleta Regular";
  src: url("fonts/Recoleta-Regular.ttf");
}


html, body {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: "National Regular";
  background-color: ;
}

h1{
  font-family: "Recoleta Bold";
  font-size: 50px;
  margin: 0px 0px 5px 0px;
}

p{
  font-size: 23px;
  margin: 0px;
}

#title{
  background-color: #FED58C;
  padding: 0px;
  margin: 0px;
  padding-top: 60px;
}

.text{
  width: 650px;
  margin: 0 auto;
  padding: 110px 0px 70px 0px;
}

#title h1{
  color: #83560B;
}

#title p{
  color: #6C4D17;
}

#orange{
  background-color: #F06E1D;
  padding: 0px;
  margin: 0px;
}

#orange h1{
  color: #FED58C;
  font-size: 40px;
}

#orange p{
  color: #FED58C;
  margin-bottom: 6px;
}

#city {
  min-height: 100%;
  min-width: 1224px;
  max-width: 100%;
  margin-bottom: -30px;
  overflow: hidden;
}

#crack{
  position: relative;
  min-height: 100%;
  min-width: 1000px;
  max-width: 100%;
  height: auto;
}

#crack img, #crack p {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#crack img{
  margin-bottom: -50px;
}

#crack p {
  z-index: 10;
  top: 250px;
  margin: 0 auto;
  text-align: center;
}

.underline{
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #F06E1D;
}

.cloud2{
  position: absolute;
  width: 270px;
  top: 25px;
  -webkit-animation: bezier infinite;
  -webkit-animation-name: wind2;
  -webkit-animation-duration: 45s;
}


.cloud{
  position: absolute;
  width: 200px;
  bottom: 40px;
  -webkit-animation: bezier infinite;
  -webkit-animation-name: wind;
  -webkit-animation-duration: 25s;
}

@-webkit-keyframes wind2 {
  0% {
    right: 0%;
  }
  12%{
    right: 5%;
  }
  25%{
    right: 0%;
  }
  50% {
    right: 20%;
  }
  100% {
    right: 0%;    
  }
}

@-webkit-keyframes wind {
  0% {
    left: 0;
  }
  50% {
    left: 10%;
  }
  100% {
    left: 0;    
  }
}

nav {
  padding: 20px 25px;
}
#logo {
  width:  90px;
}

#container{
  display: flex;
}

#black{
  background-color: #37302C;
  padding: 30px 0px;
}

#black h1{
  color: #FED58C;
}

#black p{
   color: #FED58C;
}

#button{
  width: 20px;
  padding: 0px 10px;
}

#data{
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  background-color: #4D443E;
  border-radius: 25px;
}


#space{
  padding-bottom: 200px;
}

/* NAV */
.nav{
  z-index: 100;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #FFE4B4;
}

.nav img{
  padding: 20px 20px 20px 40px;
}

.nav div{
  display: flex;
  gap: 20px;
  padding: 20px 40px 20px 0px;
}

.nav a{
  text-decoration: none;
  color: #B58F4F;
  font-size: 20px;
}

.active{
  color: #83560B;
}

ul {
  position: fixed;
  right: 10px;
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
}


h2{

}