/* FONTS */
@font-face {
  font-family: "National Bold";
  src: url("fonts/national-web-bold.ttf");
}

@font-face {
  font-family: "National Regular";
  src: url("fonts/national-web-regular.ttf");
}

@font-face {
  font-family: "National Semibold";
  src: url("fonts/national-web-semibold.ttf");
}

@font-face {
  font-family: "Recoleta Bold";
  src: url("fonts/Recoleta-Bold.ttf");
}

@font-face {
  font-family: "Recoleta Medium";
  src: url("fonts/Recoleta-Medium.ttf");
}

@font-face {
  font-family: "Recoleta Regular";
  src: url("fonts/Recoleta-Regular.ttf");
}


html, body {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: "National Regular";
  scroll-behavior: smooth;
}

h1{
  font-family: "Recoleta Bold";
  font-size: 50px;
  margin: 0px 0px 5px 0px;
}

p{
  font-size: 23px;
  margin: 0px;
}

/* NAV */
.nav{
  z-index: 100;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  background-color: white;
  border-bottom: 3px solid #EFECE7;
}

.nav img{
  padding: 20px 20px 20px 40px;
}

.nav div{
  display: flex;
  gap: 20px;
  padding: 20px 40px 20px 20px;
}

.nav a{
  text-decoration: none;
  color: #F06E1D;
  font-size: 20px;
}

.nav a:hover{
  color: #FFB689;
}

/* LANDING */
#landing{
  background-color: #FAF6F4;
  padding: 0px;
  margin: 0px;
  padding-top: 60px;
}

#landing h1{
  color: #574746;
}

#landing p{
  color: #746361;
}

.button{
  background-color: #F06E1D;
  width: fit-content;
  padding: 14px 40px;
  border-radius: 100px;
  transition-duration: 0.4s;
}

.button:hover{
  background-color: #EF6007;
}

a{
  text-decoration: none;
  color: white;
}

/* INTRO */
#intro{
  background-color: #4592D1;
  padding: 0px;
  margin: 0px;
}

#intro h1{
  color: #F3F3F3;
  font-size: 40px;
}

#intro p{
  color: #EBEFFA;
  margin-bottom: 6px;
}

/* OVERVIEW  */

#overview{
  margin-top: -100px;
  background-color: #1468AD;
  padding: 30px 0px;
}

#overview h1{
  color: #F3F3F3;
}

#overview p{
   color: #C2DEF5;
}

#choose{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  padding: 25px 0px;
  border-radius: 20px;
  margin-bottom: 50px;
}

#choose a{
  margin: 0px 60px;
  color: #3482C1;
  font-size: 18px;
  transition-duration: 0.4s;
}

#choose a:hover{
  color: #F06E1D;
}

#overview .data{
  justify-content: center;
  margin: 10px auto 0px auto;
  padding: 10px 0px 10px 10px;
  background-color: #4592D1;
  border-radius: 15px 15px 0px 0px;
  border: #F3F3F3 2px solid;
}

#overview .data-text{
  padding: 15px;
  background-color: #105E9D;
  border: #F3F3F3 2px solid;
  border-radius: 0px 0px 15px 15px;
  margin-top: -2px;
}

/* TRANSPORTATION */
#track{
  width: 100%;
  min-width: 1200px;
  overflow: hidden;
  margin-top: -60px;
  margin-bottom: -60px;
}

#transportation{
  background-color: #F7ECDC;
}

#transportation h1{
  color: #574746
}

#transportation p{
  color: #37302C;
}

#bus{
  width: 100%;
}

#transportation .bus{
  margin-top: -420px;
  margin-left: 85px;
  margin-bottom: 100px;
}

#transportation .bus iframe{
  border-radius: 30px;
}

#sign{
  width: 100%;
}

#transportation .sign{
  margin-top: -480px;
  margin-left: 25px;
  margin-bottom: 200px;
}

/* EDUCATION */
#letter{
  width: 100%;
  min-width: 1200px;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: -5px;
}

#education{
  background-color: #574746;
}

#education h1{
  color: #F7ECDC;
}

#education p{
  color: #E2D3BD;
}

#education .scroll{
  margin-top: -420px;
  margin-left: 85px;
  margin-bottom: 100px;
}

#scroll{
  width: 100%;
}

.text{
  width: 650px;
  margin: 0 auto;
  padding: 130px 0px 0px 0px;
}

.text p{
  padding-bottom: 10px;
}

#affected{
  width: 100%;
  margin: 50px 0px 20px 0px;
}

#city {
  min-height: 100%;
  min-width: 1224px;
  max-width: 100%;
  margin-bottom: -100px;
  overflow: hidden;
}

#crack{
  margin-top: 100px;
  position: relative;
  min-height: 100%;
  min-width: 1000px;
  max-width: 100%;
  height: auto;
}

#crack img, #crack p {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#crack img{
  margin-bottom: -50px;
}

#crack p {
  z-index: 10;
  top: 250px;
  margin: 0 auto;
  text-align: center;
}

#logo {
  width:  90px;
}

#container{
  display: flex;
}

#button{
  width: 20px;
  padding: 0px 10px;
}


#space{
  padding-bottom: 200px;
}

.active{
  color: #83560B;
}

ul {
  position: fixed;
  right: 10px;
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
}


h2{

}

/* FOOTER */
#footer{
  height: 40px;
  width: 100%;
  background-color: #FAF6F4;
}
#footer p{
  text-align: center;
  padding: 40px;
  font-size: 18px;
  background-color: #FAF6F4;
}
#footer a{
  color: #574746;
  text-decoration: underline;
}


/* IMPACT */
#impact{
  background-color: #FAF6F4;
}

#impact h1{
  color: white;
  margin: 0 auto;
  text-align: center;
  width: 600px;
  padding-top: 250px;
  font-size: 70px;
}

#impact-landing{
  background: url('img/impactbkg.png') no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 900px;
  max-height: 1000px;
}

#impact h2{
  font-family: "Recoleta Bold";
  font-size: 45px;
  color: #514241;
  margin: 0px 0px 5px 0px;
  line-height: 1.1;
}

#impact p{
  color: #514241;
}

#impact .text{
  padding: 50px 0px 0px 0px;
}

.button-group{
  display: flex;
  flex-wrap: inherit;
  gap: 10px;
}

.solution{
  background-color: white;
  padding: 40px 20px;
  border: #EFDFD7 2px solid;
  border-radius: 20px;
  margin-bottom: 50px;
}

/* ABOUT */
#about{
  background-color: #FAF6F4;
}
#about .people-group{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
#about .person img{
  width: 200px;
  border-radius: 1000px;
  border: #FFE0AB 3px solid;
}
#about h1{
  color: #F06E1D;
  text-align: center;
  padding: 20px 0px 50px 0px;
}
#about h2{
  font-family: "Recoleta Bold";
  font-size: 30px;
  margin: 10px 0px 0px 0px;
  color: #514241;
}
#about p{
  font-size: 22px;
  color: #514241;
}



